body {
  background-color: #D6D6DA;
  font-family: neue-haas-grotesk-display,sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #38383C;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

@media (max-width: 411px) {
  #line {
    display: none;
  }

  #title {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 12px;
  }
}

@media (min-width: 412px) {
  #title {
    align-items: center;
  }
}


#container {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24;
}

h1 {
  font-weight: 300;
  font-size: 64px;
  line-height: 100%;
  margin: 0;
}

b {
  font-weight: 500;
}

#line {
  border: 0.5px solid #96969C;
  height: 360px;
}

#title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#link {
  width: 100%;
  border-top: 1px solid #96969C;
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}

p {
  color: #58585E;
  line-height: 130%;
}

a {
  color: #58585E;
  transition: 0.2s;
}

a:hover {
  color: #38383C;
  transition: 0.5s;
}

#icons {
  display: flex;
  gap: 16px;
  align-items: center;
}