@keyframes start {
  from {
    opacity: 0;
    scale: 0.8;
  }
  to {
    opacity: 100%;
    scale: 1;
  }
}

@keyframes symbol {
  50% {
    opacity: 0;
  }
}

body {
  animation: start 2s cubic-bezier(0.5, 0, 0, 1);

  font-family: neue-haas-grotesk-display,sans-serif;
  background-color: #D6D6DA;
  color: #58585E;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

@media (max-width: 419px) {
  #title {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 12px;
  }
  #line {
    display: none;
  }
  #link {
    flex-direction: column;
    gap: 32px;
    padding-top: 40px;
  }
  #icons, #text {
    justify-content: space-between;
  }
}

@media (min-width: 420px) {
  #title {
    align-items: center;
  }
  #link {
    padding-top: 32px;
  }
}

#container {
  width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24;
}

h1 {
  font-weight: 300;
  font-size: 64px;
  line-height: 100%;
  margin: 0;
  color: #38383C;
}

p {
  line-height: 180%;
  margin: 0;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

a {
  color: #58585E;
  transition: 0.2s;
}
a:hover {
  color: #38383C;
}

b {
  font-weight: 500;
}

#line {
  border: 0.5px solid #96969C;
  height: 320px;
}

#title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#desc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 16px 0 16px 0;
}

#link {
  border-top: 1px solid #96969C;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

#text {
  display: flex;
  gap: 32px;
}

#symbol {
  animation: symbol 2s infinite ;
}