@keyframes ani {
  0% {
    opacity: 0%;
  }
  35% {
    opacity: 0%;
    transform: translate(0, 40px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes linestart {
  from {
    height: 0;
  }
}

@keyframes bgloop {
  20% {
    background-size: 1000px;
  }
  40% {
    background-size: 900px;
  }
  60% {
    background-size: 800px;
  }
  80% {
    background-size: 700px;
  }
}

@keyframes symbol {
  50% {
    opacity: 0;
  }
}

@keyframes link {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
}


body {
  font-family: neue-haas-grotesk-display,sans-serif;
  background-color: #1F1C1A;
  color: #FFC499;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

@media (max-width: 439px) {
  #title {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 12px;
  }
  #line {
    display: none;
  }
  #link {
    flex-direction: column;
    gap: 32px;
    padding-top: 40px;
  }
  #icons, #text {
    justify-content: space-between;
  }
}

@media (min-width: 440px) {
  #title {
    align-items: center;
  }
  #link {
    padding-top: 32px;
  }
}

#container {
  width: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24;
}

h1 {
  font-weight: 300;
  font-size: 64px;
  line-height: 100%;
  margin: 0;
}

p {
  line-height: 180%;
  margin: 0;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

a {
  color: #FFC499;
  transition: 0.2s;
}
a:hover {
  color: #FF8F3D;
}

b {
  font-weight: 500;
}

#line {
  border: 0.5px solid #FFC499;
  height: 320px;
  animation: linestart 1s cubic-bezier(0.5, 0, 0, 1);
}

#title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#desc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 16px 0 16px 0;
}

#link {
  border-top: 1px solid #FFC499;
  width: 100%;
  display: flex;
  justify-content: space-between;
  animation: link 1s;
}

#icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

#text {
  display: flex;
  gap: 16px;
}

#symbol {
  animation: symbol 1s step-end infinite;
}

#noise {
  animation: bgloop 1s step-end infinite;
  background: url(image/noise.jpg), #1F1C1A;
  background-size: 1100px;
  background-repeat: repeat;
  background-blend-mode: overlay, normal;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.ani {
  animation: ani 1.6s cubic-bezier(0.2, 0, 0, 1);
}